.otpdiv{
    text-align:center;
    margin-top: 200px;
}


.otp{
    display: block;
    font-size: 2rem;
}
.input{
    width: 300px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.button{
    background-color: #79B4B7;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}